:root {
  --slate-50: rgb(248 250 252);
  --slate-100: rgb(241 245 249);
  --slate-200: rgb(226 232 240);
  --slate-300: rgb(203 213 225);
  --slate-400: rgb(148 163 184);
  --slate-500: rgb(100 116 139);
  --slate-600: rgb(71 85 105);
  --slate-700: rgb(51 65 85);
  --slate-800: rgb(30 41 59);
  --slate-900: rgb(15 23 42);
}

body {
  font-family: Lato, sans-serif;
}

:link {
  text-decoration: underline;
}

:link:hover {
  text-decoration: none;
}

.hljs {
  background-color: var(--slate-800);
}

.iconify,
.iconify-inline {
  display: inline-block;
}

.pickr .pcr-button {
  border: 1px solid rgba(0 0 0 / 10%);
  width: 100%;
  height: 33px;
  border-radius: 0.25rem;

  &::before,
  &::after {
    border-radius: 0.25rem;
  }
}

code {
  display: inline;
  background: rgba(#0f172a, 0.075);
  color: #f92672;
  border-radius: 3px;
  padding: 0.1em 0.25em;
  font-size: 0.9em;
  margin-left: 0.25em;
  margin-right: 0.25em;
}

table {
  width: 100%;
  word-break: break-all;

  tr {
    th,
    td {
      padding: 0.5em 1em;
      background: var(--slate-50);
      border-bottom: none;
    }
  }

  thead {
    tr {
      th,
      td {
        padding: 0.5em 1em;
        background-color: var(--slate-700);
        color: #fff;
      }
    }
  }

  tr:nth-child(2n) {
    th,
    td {
      background: var(--slate-100);
    }
  }
}
